{
  "version": 1.0,
  "project": "WebGoatNet",
  "team": "/CxServer/Checkmarx/Users",
  "sast": {
    "preset": "High and Medium",
    "engineConfiguration": "Default Configuration",
    "incremental": "true",
    "forceScan": "false",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties": {
    "cxFlow": {
      "bugTracker": "GitHub",
      "filters": {
        "severity": ["High"]
      }
    }
  }
}
