{
  "version": 1.0,
  "project": "WebGoatNet",
  "team": "/CxServer/Checkmarx/Users",
  "sast": {
    "preset": "OWASP TOP 10 - 2021",
    "engineConfiguration": "",
    "incremental": "false",
    "forceScan" : "true",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties" : {
    "cxFlow": {
      "branches": ["develop", "master"],
      "emails": [""],
      "filters" : {
        "severity": ["High", "Medium"],
        "status": ["New"]
      }
    }
  }
}
